/* =========================================================
   BANNER
========================================================= */

.banner {
    width: 95%;
    margin: 20px auto;
}

.banner img {
    width: 100%;

    border-radius: 15px;

    display: block;
}