/* =========================================================
   PRODUCTS SECTION
========================================================= */

.products-section {
    width: 95%;
    margin: 40px auto 0;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.Products {
    display: grid;

    grid-template-columns: repeat(auto-fit,
            minmax(250px, 300px));

    justify-content: center;

    gap: 25px;
}